<!--The content below is only a placeholder and can be replaced.-->
<div>
  <!-- 需要对样式进行操作 -->
  <!-- 批量操作class样式 -->
  <h1 [ngClass]="classList">ngClass测试</h1>
  <!-- 只操作一个class样式 -->
  <h1 [class.test]="test" (click)="btnClick()">哈哈哈哈哈</h1>

  <p>{{ this.btnClick }}</p>
  <!-- 不需要对样式进行操作 -->
  <h1 class="redClass">ngClass测试</h1>

  <!-- *ngIf -->
  <h1 *ngIf="show">你能看到我吗</h1>

  <button class="btn-getdata" (click)="this.fetchColors()">获取数据</button>
  <button (click)="this.btnClick()">点击</button>
  <input type="button" value="获取数据" (click)="fetchColors()" />
  <!-- ngFor -->
  <p *ngFor="let item of colors; let i = index; let odd = odd" [class.blue]="!odd">{{ item }}-----{{ i }}</p>
  <!-- *ngFor添加trackBy -->
  <p *ngFor="let item of colors1; trackBy:trackByID">{{ item.name }}</p>

  

  <app-child skill="parentData" (getMoney)="giveMoney($event)"></app-child>


</div>

<app-todo></app-todo>

<router-outlet></router-outlet>

<!-- 
  属性型指令：
  ngClass
  结构型指令：
  *ngIf:控制元素的展示和隐藏
  *ngFor：重复器，遍历数据，批量生成元素
  *ngFor添加trackBy：
    目的：提升渲染对象数组的性能

 -->